version: "3.9"

services:
  backend:
    build: ./backend
    container_name: mindsight-backend
    ports:
      - "8000:8000"

  frontend:
    build: ./frontend
    container_name: mindsight-frontend
    environment:
      - API_URL=http://backend:8000/predict
    ports:
      - "8501:8501"
    depends_on:
      - backend
